# This workflow will test on Deno lastest stable major and canary
# see https://github.com/marketplace/actions/setup-deno for details
name: Deno CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [vx.x.x, canary]
    steps:
    - uses: actions/checkout@v2
    - name: Use Deno ${{ matrix.deno-version }}
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno }}
    - run: ./test.sh