# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deno CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [vx.x.x, canary]
    steps:
    - uses: actions/checkout@v2
    - name: Use Deno ${{ matrix.node-version }}
      uses: denoland/setup-deno@v1.1.0
      with:
        deno-version: ${{ matrix.deno }}
    - run: ./test.sh